In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

# Dataset

In [2]:
# Read saved csv files
Data = pd.read_csv('Data.csv', index_col=0)
Data = Data[1:].reset_index(drop=True)

In [3]:
Data['Summary'] = Data['Summary'].shift()
Data['Moving Average'] = Data['Moving Average'].shift()
Data['Oscillator'] = Data['Oscillator'].shift()

In [4]:
for i in range(len(Data)):
    if (Data['Change'].iloc[i] == 0):
        Data['Win/Lose'].iloc[i] = pd.NA

C:\Users\esugom\AppData\Local\Temp\ipykernel_3952\971245776.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data['Win/Lose'].iloc[i] = pd.NA

In [5]:
Data['start time'] = pd.to_datetime(Data['start time'],unit='s')
Data['lock time'] = pd.to_datetime(Data['lock time'],unit='s')
Data['close time'] = pd.to_datetime(Data['close time'],unit='s')

In [6]:
Data["Up multi"] = Data["Total BNB"]/Data["Up BNB"]
Data["Down multi"] = Data["Total BNB"]/Data["Down BNB"]

In [7]:
Data

,start time,lock time,close time,epoch,Locked price,Close price,Change,Total BNB,Up BNB,Down BNB,Win/Lose,Summary,Moving Average,Oscillator,Up multi,Down multi
0,2022-05-26 21:46:10,2022-05-26 21:51:10,2022-05-26 21:56:10,3372,310.9,311.2,0.3,15.7211,7.8211,8.0654,1,NaN,NaN,NaN,2.010088,1.949203
1,2022-05-26 21:51:16,2022-05-26 21:56:16,2022-05-26 22:01:16,3373,311.2,311.1,-0.1,15.2673,7.6794,7.7486,0,SELL,STRONG SELL,NEUTRAL,1.988085,1.970330
2,2022-05-26 21:56:22,2022-05-26 22:01:22,2022-05-26 22:06:22,3374,311.1,313.1,2.0,15.0658,7.6866,7.5378,1,SELL,SELL,NEUTRAL,1.960008,1.998700
3,2022-05-26 22:01:28,2022-05-26 22:06:28,2022-05-26 22:11:28,3375,313.1,313.3,0.2,15.4450,7.8458,7.7618,1,SELL,SELL,NEUTRAL,1.968569,1.989873
4,2022-05-26 22:06:34,2022-05-26 22:11:34,2022-05-26 22:16:34,3376,313.3,313.1,-0.2,15.3839,7.8221,7.7238,0,BUY,STRONG BUY,NEUTRAL,1.966722,1.991753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,2022-05-28 14:34:58,2022-05-28 14:39:58,2022-05-28 14:44:58,3852,305.4,305.6,0.2,11.1917,5.6547,5.6547,1,STRONG BUY,STRONG BUY,NEUTRAL,1.979185,1.979185
481,2022-05-28 14:40:04,2022-05-28 14:45:04,2022-05-28 14:50:04,3853,305.6,305.1,-0.5,11.5807,5.8513,5.8513,0,BUY,STRONG BUY,SELL,1.979167,1.979167
482,2022-05-28 14:45:10,2022-05-28 14:50:10,2022-05-28 14:55:10,3854,305.1,305.0,-0.1,11.3409,5.7797,5.6807,0,STRONG BUY,STRONG BUY,NEUTRAL,1.962195,1.996391
483,2022-05-28 14:50:16,2022-05-28 14:55:16,2022-05-28 15:00:16,3855,305.0,305.2,0.2,11.4175,5.6739,5.8639,1,NEUTRAL,NEUTRAL,SELL,2.012284,1.947083
484,2022-05-28 14:55:22,2022-05-28 15:00:22,2022-05-28 15:05:22,3856,305.2,305.7,0.5,11.4491,5.7963,5.7733,1,BUY,BUY,NEUTRAL,1.975243,1.983112

In [8]:
Data.isna().any()

start time        False
lock time         False
close time        False
epoch             False
Locked price      False
Close price       False
Change            False
Total BNB         False
Up BNB            False
Down BNB          False
Win/Lose           True
Summary            True
Moving Average     True
Oscillator         True
Up multi          False
Down multi        False
dtype: bool

In [9]:
Data.replace([np.inf, -np.inf], np.nan, inplace=True)
Data.dropna(subset = ['Up multi', 'Down multi', 'Win/Lose'], inplace = True)

In [10]:
Data.keys()

Index(['start time', 'lock time', 'close time', 'epoch', 'Locked price',
       'Close price', 'Change', 'Total BNB', 'Up BNB', 'Down BNB', 'Win/Lose',
       'Summary', 'Moving Average', 'Oscillator', 'Up multi', 'Down multi'],
      dtype='object')

In [11]:
Data = Data[['Locked price', 'Close price', 'Change', 'Total BNB', 'Up BNB', 'Down BNB', 
             'Up multi', 'Down multi', 'Win/Lose', 'Summary', 'Moving Average', 'Oscillator', ]]

In [12]:
Data.isna().any()

Locked price      False
Close price       False
Change            False
Total BNB         False
Up BNB            False
Down BNB          False
Up multi          False
Down multi        False
Win/Lose          False
Summary            True
Moving Average     True
Oscillator         True
dtype: bool

In [13]:
# Data.replace(['SELL', 'STRONG SELL'], 1, inplace=True)
# Data.replace(['BUY', 'STRONG BUY'], 0, inplace=True)

In [14]:
# Data.replace(['SELL'], 1, inplace=True)
# Data.replace(['BUY'], 0, inplace=True)

In [15]:
Data.replace(['STRONG SELL'], 1, inplace=True)
Data.replace(['STRONG BUY'], 0, inplace=True)

C:\Users\esugom\AppData\Local\Temp\ipykernel_3952\2789854893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data.replace(['STRONG SELL'], 1, inplace=True)
C:\Users\esugom\AppData\Local\Temp\ipykernel_3952\2789854893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data.replace(['STRONG BUY'], 0, inplace=True)

### Data Quality

In [16]:
Data.describe()

,Locked price,Close price,Change,Total BNB,Up BNB,Down BNB,Up multi,Down multi,Win/Lose
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000
mean,301.850439,301.839035,-0.011404,14.556188,7.338617,7.370794,1.986629,1.978268,0.484649
std,3.465066,3.443709,0.930509,1.700445,0.901455,0.919023,0.083903,0.081008,0.500313
min,292.100000,292.100000,-4.800000,11.174300,5.646000,5.645500,1.607175,1.568399,0.000000
25%,299.900000,299.900000,-0.500000,14.018750,7.526000,7.535125,1.971694,1.959446,0.000000
50%,301.700000,301.700000,-0.100000,15.283950,7.674400,7.698550,1.979170,1.979165,0.000000
75%,303.200000,303.200000,0.500000,15.550625,7.805550,7.828200,1.999292,1.986686,1.000000
max,313.300000,313.300000,4.000000,17.779900,9.310100,10.214200,2.681404,2.575204,1.000000

In [17]:
len(Data)

456

In [18]:
df = Data[(Data['Summary']==1) | (Data['Summary']==0)]

In [19]:
len(df)

66

In [20]:
df['Result'] = (df['Win/Lose'] == df['Summary']).astype(int)

C:\Users\esugom\AppData\Local\Temp\ipykernel_3952\1870624861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Result'] = (df['Win/Lose'] == df['Summary']).astype(int)

In [21]:
Counter(df['Result'])

Counter({1: 38, 0: 28})

In [22]:
Counter(df['Win/Lose'])

Counter({1: 29, 0: 37})

In [23]:
df.describe()

,Locked price,Close price,Change,Total BNB,Up BNB,Down BNB,Up multi,Down multi,Win/Lose,Result
count,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000
mean,301.724242,301.692424,-0.031818,14.144703,7.160671,7.132932,1.977502,1.985289,0.439394,0.575758
std,3.241180,3.189951,0.849101,1.884117,0.984916,0.980203,0.061381,0.073804,0.500117,0.498015
min,292.400000,292.100000,-2.800000,11.177100,5.647400,5.647400,1.701440,1.846040,0.000000,0.000000
25%,299.825000,300.125000,-0.575000,11.707550,5.828500,5.881350,1.973162,1.966300,0.000000,0.000000
50%,301.900000,301.800000,-0.100000,15.132800,7.650150,7.664450,1.979174,1.979160,0.000000,1.000000
75%,303.300000,303.300000,0.675000,15.517150,7.798575,7.806775,1.992189,1.985214,1.000000,1.000000
max,310.400000,311.100000,1.600000,16.777100,9.130100,8.846600,2.133006,2.365273,1.000000,1.000000

### Other

In [24]:
a = Counter(df['Result'])[1]      # Win
b = Counter(df['Result'])[0]      # Lose

In [25]:
#### Win rate ####
win_rate = a / len(df)
print(win_rate)

0.5757575757575758

In [26]:
# average winings
BNB = 0.3

profit = (1.95 * BNB * 0.95) - BNB
print(profit)

0.25575

In [27]:
# Since I win x% of the time, my true profit is
true_profit = profit*win_rate - BNB*(1-win_rate)
print(f"True profit = {true_profit} per game")

True profit = 0.019977272727272732 per game

In [28]:
# Number of games per day
no_of_days = len(Data)/288
print(no_of_days)

1.5833333333333333

In [29]:
games = len(df)
print(games)

66

In [30]:
# with win rate
winnings_per_day = int(games*win_rate) * true_profit
print(winnings_per_day)

0.7591363636363638

In [31]:
# fees
fees = (0.0008 * games) + (0.0008* games *win_rate)
print(fees)

0.0832

In [32]:
# win
net_win = winnings_per_day - fees
print(net_win)

0.6759363636363638